<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-kq8ZXBaFIORJLVxgfhqWWH5Sap8vwoM</string>
	<key>GCM_SENDER_ID</key>
	<string>489971672202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jp.aimetaversetech.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat922</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489971672202:ios:2a10195d77e98ee52df973</string>
</dict>
</plist>